# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cezar\Fullstack Web Projects\Python Fullstack Course\Section 19 Django Part 5\learning_users\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
